
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Roboto:wght@300&display=swap");
@import url("https://www.dafont.com/es/love-coffee.font");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  background-color: rgb(237, 238, 245);
}

.color-tit {
  color: rgb(131, 64, 194);
}

.color-sub {
  color: blueviolet;
}

h1 {
  font-family: "Pacifico", cursive, sans-serif;
}

.font {
  font-family: "Open+Sans&family=Roboto", sans-serif;
}

h2 {
  font-family: "Pacifico", cursive, sans-serif;
}

.desap {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1200px) {
  .desap {
    display: flex;
    justify-content: end;
  }
}
.carousel-item {
  width: 100%;
  height: 600px;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}
.carousel-inner {
  width: 100%;
}

.circlee {
  border-radius: 10px;
}

.font {
  font-size: 18px;
}

.imgs {
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: hidden;
  transition: all 1s ease;
}

.imgs:hover {
  transform: scale(1.2);
}

.flex-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

.flex-button {
  display: flex;
  justify-content: flex-end;
}

.foto-productos:hover {
  transform: scale(1.1);
  transition: all 1.2s;
  animation: foto-productos 1.5s;
}

@keyframes foto-productos {
  100% {
    box-shadow: inset 5em 1em rgb(212, 212, 208);
  }
}
.circlee {
  border-radius: 10px;
}

.flex-button {
  padding: 10px;
}

.efecto-boton {
  border-radius: 5px;
  background-color: #dddfec;
}

.parra {
  color: rgb(14, 53, 14);
}

.colorbas {
  background-color: rgb(237, 238, 245);
}

p {
  font-family: "Open+Sans&family=Roboto", sans-serif;
}

.desap {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1200px) {
  .desap {
    display: flex;
    justify-content: end;
  }
}
.flex-gal, .rowss {
  padding: 4px;
  margin-top: 8px;
}

.photo-gallery {
  color: #313437;
  background-color: rgb(237, 238, 245);
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.buton {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.circlee {
  border-radius: 10px;
}

.buton {
  margin: 10px;
}

.efecto-boton {
  border-radius: 5px;
  background-color: #dddfec;
}

.texto {
  text-decoration: none;
}

.contenedor {
  display: grid;
  grid-template-rows: auto;
}

.testdeco {
  text-decoration: none;
  display: flex;
  justify-content: end;
}

.btns:hover {
  background-color: rgb(196, 197, 230);
  color: white;
}

.color-sub {
  color: blueviolet;
}

.hover13 figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.desap {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1200px) {
  .desap {
    display: flex;
    justify-content: end;
  }
}
.font {
  font-size: 18px;
}

footer {
  display: inline;
  text-align: center;
  width: 100vh;
}

.color-gen {
  background-color: #e3e5f0;
}

/* .border-foot {
    border: $border; 
}*/
.redes {
  text-align: center;
}

.grid-footer {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  background-color: rgb(230, 222, 238);
}

/*# sourceMappingURL=style.css.map */
